<h1>Click below for available services!</h1>
<table>     
<tr>
    <td><div class="hover01">

            <figure><img src="/assets/book11.png" id="pic1" routerLink="/booking"></figure><br><h3 style="margin-left: 150px"> BOOKING</h3>
        </div></td>

        <td>
                <div class="hover01">
                        <figure><img src="/assets/myord1.png" id="pic2" routerLink="/myorders"><br> <h3 style="margin-left: 250px"><br>MY ORDERS</h3>
                        </figure> </div>
        </td>

        <td>
                <div class="hover01">
                        <figure><img src="/assets/f2.PNG" id="pic3" routerLink="/feedback"><br> <h3 style="margin-left: 290px;"><br>FEEDBACK</h3></figure>
                        </div>
        </td>
</tr>
       
    
        </table>  