

table{
    margin-left: 450px;
    padding: 50px;
    margin-top: 135px;
    margin-left:450px;
    border: 1px solid black;
    background: lightgray;
    width: 380px;
    margin-top:80px;
    margin-left: 450px;
}
#b1{
    color:white;
    background-color: blueviolet; 
}